.table-container {
  width: 100%;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr {
  border-bottom: 1px solid black;
}

td, th {
  padding: 10px;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #dee2e6;
}